body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 94, 189);
    color: white;
    margin: 0;
    min-height: 100vh;
    justify-content: space-between;
    align-content: center;
}

/* HEADER */
.header{
    background-color: rgb(19, 59, 110);
    padding: 8px 30px;
    display: flex;
}

body > h1 {
    font-weight: 1000;
    font-size: 32px;
}


/* FOOTER */
.footer{
    background-color: rgb(19, 59, 110);
    padding: 20px 30px;
    display: flex;
    justify-content: center;
}

/* CONTENT */
.content{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}



/* OPTIONS */
.player-select{
    min-width: 150px;
    padding: 0px;
    font-size: 20px;
    background-color: rgb(253, 253, 253);
    border-radius: 20px;
}

.emoji{
    font-size: 40px;
    padding: 0px;
}
.options-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
    gap: 10px;
    align-self: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* max-width: 200px; */
    /* min-width: 600px; */
    flex-grow: 1;
}

.buttons{
    display: flex;
    gap:20px;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 200px;
}

/* SCOREBOARD AND GENERAL INFO */

.scoreboard-container{
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 24px;
}

.scoreboard-container > h2{
    margin: 0;
}

.scoreboard{
    border: 5px solid white;
    border-radius: 20px;
    
    display: flex;
}

.score{

    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 120px;

    font-size: 20px;
}

.player-score{
    border-right: 5px solid white;
}

.announc {
    min-height: 50px;
    max-width: 200px;
    text-align: center;
    align-self: center;
}

/* ROUND HISTORY */
.history{
    min-width: 800px;
    padding: 30px 30px;
    flex-grow: 1;
}

.entry{
    /* border: 1px solid white; */

    display: flex;
    gap: 0px;

    padding: 0px 0px;
}

.entry > p {
    border: 1px solid white;
    padding: 20px 20px;
    margin: 0;
}

.entry-text{
    min-width: 400px;
}

.entry-round {
    font-style: italic;
}